
<div class="message-main">
	<div class="message-box">
	<!-- 店主が郎虞インしている場合 -->
	<% if owner_signed_in? %>
	<div class="conversation-label">ユーザー</div>
		<% @conversations.each do |conversation|%>
			<% if @customer_ids.include?(conversation.customer_id) %>
				<div class="conversation-item"><%= conversation.customer.nickname %>
				<%= link_to 'メッセージする',conversation_path(conversation), class: 'link_color_message' %></div>
			<% end %>
		<% end %>

	<!-- 客がログインしている場合 -->
	<% else customer_signed_in? %>
		<% @conversation.each do |conversation|%>
			<% if @owner_ids.include?(conversation.owner_id) %>
				<div class="conversation-item"><%= conversation.owner.nickname %>
				<%= link_to 'メッセージする',conversation_path(conversation), class: 'link_color_message' %></div>
			<% end %>
		<% end %>
	<% end %>
	</div>
</div>
