<h1>Conversations#index</h1>

<p>メッセージ一覧</p>

	<!-- 店主が郎虞インしている場合 -->
	<% if owner_signed_in? %>
		<% @conversations.each do |conversation|%>
			<% if @customer_ids.include?(conversation.customer_id) %>
				<div class="message-item"><%= conversation.customer.nickname %>
				<%= link_to 'メッセージする',conversation_path(conversation) %></div>
			<% end %>
		<% end %>

	<!-- 客がログインしている場合 -->
	<% else customer_signed_in? %>
		<% @conversation.each do |conversation|%>
			<% if @owner_ids.include?(conversation.owner_id) %>
				<div class="message-item"><%= conversation.owner.nickname %>
				<%= link_to 'メッセージする',conversation_path(conversation) %></div>
			<% end %>
		<% end %>
	<% end %>
