// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store-box{
	width: 100%;
}
.store-box-itme{
	background-color: #f2f2f2;
	margin: 100px 0 0 170px;

}
.store-row{
	flex-wrap: wrap;
	display: flex;
}
.store-item{
/*	background-color: #e6cde3;*/
	flex-basis: 50%;
	margin-top: 10px;
	text-align: center;
}
.store-item:nth-child(2n){
/*	background-color: #eebbcb;*/
	margin-top: 70px;
	justify-content: flex-end;
}
.store-show-main{
	width: 100%;
}
.store-show-box{
	display: flex;
/*	background-color: #f2f2f2;*/
}
.store-show-box-item{
	width: 670px;
	height: 720px;
	align-self: center;
	padding-left: 100px;
	padding-top: 150px;
	input[type="submit"] {
        width: 200px;
        height: 50px;
        border-style: solid;
        color: #333230;
        background-color: #f5f5f5;
        border-radius: 15px;
        margin-top: 50px;
            &:hover {
                color: #c8c1bc;
                background-color: #08558c;
            }
    }

}

.store-image-box{
	flex-basis: 50%;
}
.store-image {
	transition-duration: 0.5s;
	color: #252525;
}
.store-image:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: #383636;
}
.store-text{
	margin-top: 10px;
	margin-left: 90px;
	text-align: left;
	font-family: 'TsukuARdGothic-Regular','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
	color: #333230;
	&:hover {
	color: #b8b8b7;
	}

}
.nickname{
	font-size: 24px;
	display: inline-block;
}
.text-good{
	font-size: 14px;
	margin-bottom: 10px;
	margin-left: 4px;
}
.store-show-text{
	color: #333230;
}
.link_color{
	text-decoration:none;
}
.show-nickname{
	font-size: 25px;
	margin:0 0 50px 20px;
}
.store-show-main{
	margin-top: 80px;
}
.store-name{
	font-size: 20px;
	display: inline-block;
	border-bottom: 2px solid;
}
.post-text{
	color: #09558c;
}